.order {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    height: 787px;
    background: #f2f6f7;
    padding: 29px 29px 41px 26px;
    gap: 31px;

    &__header {
        display: flex;
        align-items: center;
        gap: 165px;

        .title {
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: #104e5b;
        }
        .out {
            &__img {
                width: 24px;
                height: 24px;
                filter: brightness(0) saturate(100%) invert(22%) sepia(14%) saturate(4658%) hue-rotate(153deg)
                    brightness(91%) contrast(87%);
            }
        }
    }
   
    
}
