.profile {
    font-family: 'Montserrat';
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #616f80;
    background-color: #f2f6f7;

    &__about {
        background-color: #fff;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 2fr 10fr;
        gap: 35px;
        align-items: center;
        
        .img img{
             width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
}
