.orderCoast {
    margin-left: 8px;

    &__promo {
        width: 302px;
        height: 55px;
        background: #ffffff;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        display: flex;
        align-items: center;
        .input {
            padding-left: 55px;
            background: url('../../shared/assets/promo_code.svg') no-repeat center left 17px, #fff;
            background-size: 22px;
        }
        .promo-btn {
            margin-left: -40px;
            width: 76px;
            height: 33px;
            text-align: center;
            background: #fdc27a;
            border-radius: 10px;
            font-weight: 600;
            font-size: 13px;
            line-height: 28px;
            color: #104e5b;
        }

        input,
        button {
            all: unset;
        }
    }

    &__total {
        margin-top: 26px;
        width: 302px;
        height: 140px;
        background: #fcfcfc;
        border-radius: 20px;
        padding: 20px 21px 18px 21px;

        &__subtotal,
        &__delivey {
            display: flex;
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
            border-bottom: 1px dashed #bebebe;
            color: #104e5b;
            gap: 150px;
            margin-top: 5px;
        }

        .subCoast,
        .free,
        .totalCoast {
            margin-left: auto;
        }
        &__total {
            display: flex;
            font-weight: 700;
            font-size: 18px;
            margin-top: 5px;
            line-height: 28px;
            gap: 170px;
            .title {
                color: #104e5b;
            }
            .totalCoast {
                color: #ff6347;
            }
        }
    }

    
}