.profileNav {
    display: flex;
    margin-top: 41px;
    gap: 55px;
    justify-content: center;
    padding-bottom: 16px;
    color: #2b2d33;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #2b2d33;

    .active {
        color: #2b2d33;
        text-decoration: none;
    }
    .active:after {
        content: '';
        background-color: #fdc27a;
        width: 85px;
        height: 0px;
        position: absolute;
        display: block;
        margin-left: -20px;
        justify-content: center;
        top: 251px;
        border: 1px solid #fdc27a;
    }

    .link {
        text-decoration: none;
        color: #2b2d33;
    }
}
