.foodDetail {
    display: grid;
    grid-template-rows: 5fr 7fr;
    gap: 40px;
    justify-content: end;
    background-color: #f2f6f7;

    &__header {
        .image {
            .img {
                filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.1));
                width: 317px;
                height: 296px;
                border-radius: 0 40px;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
            }
            .btn {
                all: unset;
                width: 50px;
                position: absolute;
                margin-top: -56px;
                height: 50px;
                margin-left: 267.5px;
                background: rgba(253, 194, 122, 0.9);
                border-radius: 10px 0px 0px 0px;
                text-align: center;
                &__like {
                    width: 30px;
                    height: 30px;
                    margin-top: 6px;
                }
            }

            .btnLike {
                background-color: red;
            }
        }
    }

    &__main {
        width: 317px;
        height: 426px;
        background-color: #fff;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
        border-radius: 40px 0px;
        padding: 22px 20px 0 28px;

        &__header {
            display: grid;
            grid-template-columns: 9fr 3fr;

            .name {
                &__first {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                    color: #104e5b;
                }
                &__second {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 28px;
                    color: #616f80;
                    margin-top: -7px;
                }
            }
            .coast {
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
                color: #104e5b;
            }
        }

        &__info {
            display: flex;
            gap: 50px;
            margin-top: 10px;

            .stars,
            .time {
                width: 30px;
                height: 30px;
                box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                background-color: antiquewhite;
                display: flex;
                align-items: center;
                gap: 13px;
                img {
                    width: 18px;
                    height: 18px;
                    margin-left: 6px;
                }
            }
        }

        &__about {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            .head {
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
                color: #104e5b;
            }

            .title {
                font-weight: 400;
                font-size: 14px;
                line-height: 28px;
                color: #616f80;
            }
        }

        &__cart {
            display: flex;
            gap: 20px;
            overflow: hidden;
            bottom: 0;
            margin-bottom: 32px;
            position: fixed;

            .count {
                width: 129px;
                height: 40px;
                background: rgba(253, 194, 122, 0.1);
                border-radius: 20px;
                display: flex;
                gap: 22px;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #104e5b;

                &__min,
                &__pl {
                    all: unset;
                    align-items: center;
                    text-align: center;
                    border-radius: 50%;
                    place-content: center;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    font-size: 18px;
                    background: #fdc27a;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                }
            }
            .btn {
                all: unset;
                width: 111px;
                height: 40px;
                background: #fdc27a;
                box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
                border-radius: 20px;
                font-weight: 700;
                font-size: 11px;
                text-align: center;
                line-height: 28px;
                color: #104e5b;
            }
        }
    }
}
